@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%
}
/* body
{
   
    background: #333;
} */


header
{
    width: 96%;
    /* background: linear-gradient(to right ,#8f83eb, #b885e4); */
    background:linear-gradient(to right ,skyblue, white);
    display: flex;
    position: fixed;
    justify-content: space-between;
    border-radius: 5rem;
    align-items: center;
    top: 2rem;
    left: 50%;
    padding: 1rem 2rem;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: .2rem .3rem 1rem black;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header .navbar ul li{
    margin:0rem 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: #ff046f
   
}

header .navbar ul li a:hover
{
    color: black;
}

header .logo
{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #c63bfa;
}

header .logo i{
    color: #ff046f
}

.main
{
     min-height: 100vh;
     /* background: linear-gradient(rgba(198,59,250,.8),rgba(198,59,250,.8) ),url(tech2.jpg) no-repeat; */
     background: linear-gradient(rgba(42, 177, 87, 0.8),rgba(70, 73, 199, 0.8) ),url(tech2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.main_content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
    text-align: center;

}

.main_content h1{
    font-size: 5rem;
    color: white;
    padding: 0 1rem;
    text-shadow: .1rem .4rem 1rem #ff046f;
    box-shadow: .2rem .3rem 1rem black;
}


.main_content p{
 font-size: 2.1rem;
 color: white;
 padding: 1rem 30rem;
}


.main_content button
 {
     height: 4rem;
     width: 15rem;
     border-radius: 5rem;
     background: #ff046f;
     color: white;
     font-size: 2rem;
     border: none;
     cursor: pointer;
     box-shadow: 0rem .3rem 1rem black;
}


.main_content button:hover
{
    letter-spacing: .2em;
    background: #e72b7c;
    width: 16rem;
   
}



 .box_container
 {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     
 }

 .box_container .box{
     height: 20rem;
     width: 25rem;
     background: white;
     text-align: center;
     border-radius: 2rem;
     box-shadow: 0 .5rem .8rem black;
     margin: 2rem;
     cursor: pointer;
     padding: .7rem .4rem;
     
 }

 .box_container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    margin-top: 2.4rem;
    font-size: 3rem;
    color:  white;
    background: #e72b7c;
    border-radius: 4rem;
 }

 .box_container .box i:hover
 {
    background: #ff046f;
    
    font-size: 4rem;
 }

 .box_container .box h3{
     color: #e72b7c;
     font-size: 2rem;
     margin: 5px;
 }
 .box_container .box h3:hover
 {
     color: #ff046f;
     letter-spacing: .1rem;
 }

 .box_container .box p{
     font-size: 1.3rem;
     text-align: center;
     justify-content: center;
     padding: .7rem 2rem;
    margin-bottom: 2rem;
 }

 .main::before{
     content: '';
     position:absolute;
     bottom: -51%; left: 50%;
     transform: translateX(-50%);
     border-top: 70vh solid #fff;
     width: 120%;
     border-radius: 50%;
    

     z-index: -1;
 }

.card img
{
    
    width: 50%;
    height: 50%;
}
 

.guide
{
    background: linear-gradient(rgb(199, 213, 255) ,rgb(93, 125, 221) );
/* background:#fff; */
}
.guide h1{
    font-size: 3rem;
    text-align: center;
}
.guide h3{
    font-size: 1.4rem;
    text-align: center;
    color: grey;
}
.guide .card_container
{
   
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
     padding: 2rem 0;
}

 .guide .card_container .card
{
    padding: 2rem;
    margin: 2rem;
    background:rgb(206, 176, 176);
    text-align: center;
    width: 28rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);

} 

.guide .card_container .card img{
    height:30rem;
    width:100%;
    object-fit:cover;
    filter:grayscale();
    transition: .9s;
  }

  .guide .card_container .card:hover img{
      cursor: pointer;
    filter: grayscale(0);
  }

  .guide .card_container .card h3{
    color: #ff046f;
    font-size: 2rem;
  }
  .guide .card_container .card{
      color: rgb(80, 78, 78);
      font-size: 1.7rem ;
  }